<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,75},{65,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,67}}</string>
                <key>sourceSize</key>
                <string>{65,67}</string>
            </dict>
            <key>btn_bf.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,10},{45,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>btn_cb.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,75},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,80}}</string>
                <key>sourceSize</key>
                <string>{74,80}</string>
            </dict>
            <key>btn_la.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,10},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>btn_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,10},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>btn_zt.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,75},{56,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,69}</string>
            </dict>
            <key>icon_sudu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,10},{69,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,37}}</string>
                <key>sourceSize</key>
                <string>{69,37}</string>
            </dict>
            <key>playback_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,75},{1624,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1624,100}}</string>
                <key>sourceSize</key>
                <string>{1624,100}</string>
            </dict>
            <key>playback_kj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,10},{71,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,59}}</string>
                <key>sourceSize</key>
                <string>{71,59}</string>
            </dict>
            <key>playback_kt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,10},{71,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,59}}</string>
                <key>sourceSize</key>
                <string>{71,59}</string>
            </dict>
            <key>playback_sd_x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,10},{50,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,43}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>playback_sd_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,10},{60,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,43}}</string>
                <key>sourceSize</key>
                <string>{60,43}</string>
            </dict>
            <key>playback_sd_x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,10},{60,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,43}}</string>
                <key>sourceSize</key>
                <string>{60,43}</string>
            </dict>
            <key>playback_sd_x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,10},{62,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,43}}</string>
                <key>sourceSize</key>
                <string>{62,43}</string>
            </dict>
            <key>progressBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,10},{1039,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1039,10}}</string>
                <key>sourceSize</key>
                <string>{1039,10}</string>
            </dict>
            <key>progressBar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1624,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1624,10}}</string>
                <key>sourceSize</key>
                <string>{1624,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_playback.png</string>
            <key>size</key>
            <string>{1839,175}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd723c41a7f0d488042d58ff4c0dfc66:1d169a889f5765ac9eecb83752c91b74:c7be1341f5db62a432db9ae6bef3ce4c$</string>
            <key>textureFileName</key>
            <string>game_playback.png</string>
        </dict>
    </dict>
</plist>
