<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GPS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,24}</string>
                <key>spriteSourceSize</key>
                <string>{119,24}</string>
                <key>textureRect</key>
                <string>{{305,0},{119,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,24}</string>
                <key>spriteSourceSize</key>
                <string>{89,24}</string>
                <key>textureRect</key>
                <string>{{535,0},{89,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IPxiangtong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,22}</string>
                <key>spriteSourceSize</key>
                <string>{81,22}</string>
                <key>textureRect</key>
                <string>{{74,0},{81,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dagou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{0,24},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guojin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,23}</string>
                <key>spriteSourceSize</key>
                <string>{101,23}</string>
                <key>textureRect</key>
                <string>{{204,0},{101,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,24}</string>
                <key>spriteSourceSize</key>
                <string>{111,24}</string>
                <key>textureRect</key>
                <string>{{424,0},{111,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tanhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{26,24},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weikaiqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,22}</string>
                <key>spriteSourceSize</key>
                <string>{74,22}</string>
                <key>textureRect</key>
                <string>{{0,0},{74,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weizhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{525,525}</string>
                <key>spriteSourceSize</key>
                <string>{525,525}</string>
                <key>textureRect</key>
                <string>{{52,24},{525,525}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhengchang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,22}</string>
                <key>spriteSourceSize</key>
                <string>{49,22}</string>
                <key>textureRect</key>
                <string>{{155,0},{49,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dingwei.png</string>
            <key>size</key>
            <string>{624,549}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6212a7abe30101cd796a78e1ecfb114b:57a1ca7b4c00d6501d60052483141a07:98c4a5fcef241588c3b4de81478d9979$</string>
            <key>textureFileName</key>
            <string>dingwei.png</string>
        </dict>
    </dict>
</plist>
