<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,97}</string>
                <key>spriteSourceSize</key>
                <string>{127,97}</string>
                <key>textureRect</key>
                <string>{{1,1},{127,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gonggao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,132}</string>
                <key>spriteSourceSize</key>
                <string>{55,132}</string>
                <key>textureRect</key>
                <string>{{129,1},{55,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>notice_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1624,750}</string>
                <key>spriteSourceSize</key>
                <string>{1624,750}</string>
                <key>textureRect</key>
                <string>{{185,1},{1624,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongzhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,134}</string>
                <key>spriteSourceSize</key>
                <string>{60,134}</string>
                <key>textureRect</key>
                <string>{{1810,1},{60,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>notice.png</string>
            <key>size</key>
            <string>{1871,752}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77cacd61abcb3c3179a176a7c9239ef9:bdd8e27d3883ebbd49bdd38644a38a07:9985c1f00d994ae5a462ea8f68073fcc$</string>
            <key>textureFileName</key>
            <string>notice.png</string>
        </dict>
    </dict>
</plist>
