<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,155}</string>
                <key>spriteSourceSize</key>
                <string>{74,155}</string>
                <key>textureRect</key>
                <string>{{2,2},{74,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_face_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,155}</string>
                <key>spriteSourceSize</key>
                <string>{74,155}</string>
                <key>textureRect</key>
                <string>{{78,2},{74,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,155}</string>
                <key>spriteSourceSize</key>
                <string>{74,155}</string>
                <key>textureRect</key>
                <string>{{154,2},{74,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_history_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,155}</string>
                <key>spriteSourceSize</key>
                <string>{74,155}</string>
                <key>textureRect</key>
                <string>{{230,2},{74,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_message.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,155}</string>
                <key>spriteSourceSize</key>
                <string>{74,155}</string>
                <key>textureRect</key>
                <string>{{306,2},{74,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_message0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,76}</string>
                <key>spriteSourceSize</key>
                <string>{75,76}</string>
                <key>textureRect</key>
                <string>{{382,2},{75,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_message_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,155}</string>
                <key>spriteSourceSize</key>
                <string>{74,155}</string>
                <key>textureRect</key>
                <string>{{459,2},{74,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_send.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,68}</string>
                <key>spriteSourceSize</key>
                <string>{159,68}</string>
                <key>textureRect</key>
                <string>{{535,2},{159,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_voice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,79}</string>
                <key>spriteSourceSize</key>
                <string>{67,79}</string>
                <key>textureRect</key>
                <string>{{696,2},{67,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{647,607}</string>
                <key>spriteSourceSize</key>
                <string>{647,607}</string>
                <key>textureRect</key>
                <string>{{2,159},{647,607}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat_bg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,750}</string>
                <key>spriteSourceSize</key>
                <string>{700,750}</string>
                <key>textureRect</key>
                <string>{{2,768},{700,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat_bubble.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,43}</string>
                <key>spriteSourceSize</key>
                <string>{142,43}</string>
                <key>textureRect</key>
                <string>{{704,768},{142,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,2}</string>
                <key>spriteSourceSize</key>
                <string>{472,2}</string>
                <key>textureRect</key>
                <string>{{2,1520},{472,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chat.png</string>
            <key>size</key>
            <string>{848,1524}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98b68169eee4938637b604a9fbcc5a90:562425ac6f3651e0da30ef8fd30a7a2e:560f0423db1a1e46e68995a55a406f35$</string>
            <key>textureFileName</key>
            <string>chat.png</string>
        </dict>
    </dict>
</plist>
