<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>baiqiu.png</key>
<dict>
<key>frame</key>
<string>{{531,1},{22,22}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{22,22}}</string>
<key>sourceSize</key>
<string>{22,22}</string>
</dict>
<key>bet_bottom.png</key>
<dict>
<key>frame</key>
<string>{{475,1},{55,21}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{55,21}}</string>
<key>sourceSize</key>
<string>{55,21}</string>
</dict>
<key>bet_bottom_1.png</key>
<dict>
<key>frame</key>
<string>{{419,1},{55,21}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{55,21}}</string>
<key>sourceSize</key>
<string>{55,21}</string>
</dict>
<key>btn_chongfu.png</key>
<dict>
<key>frame</key>
<string>{{191,143},{189,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{189,88}}</string>
<key>sourceSize</key>
<string>{189,88}</string>
</dict>
<key>btn_more.png</key>
<dict>
<key>frame</key>
<string>{{516,143},{90,90}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{90,90}}</string>
<key>sourceSize</key>
<string>{90,90}</string>
</dict>
<key>btn_people.png</key>
<dict>
<key>frame</key>
<string>{{698,143},{90,90}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{90,90}}</string>
<key>sourceSize</key>
<string>{90,90}</string>
</dict>
<key>btn_yichu.png</key>
<dict>
<key>frame</key>
<string>{{1,143},{189,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{189,88}}</string>
<key>sourceSize</key>
<string>{189,88}</string>
</dict>
<key>btn_zst.png</key>
<dict>
<key>frame</key>
<string>{{607,143},{90,90}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{90,90}}</string>
<key>sourceSize</key>
<string>{90,90}</string>
</dict>
<key>chip1.png</key>
<dict>
<key>frame</key>
<string>{{1617,143},{108,112}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{108,112}}</string>
<key>sourceSize</key>
<string>{108,112}</string>
</dict>
<key>chip2.png</key>
<dict>
<key>frame</key>
<string>{{1290,143},{108,112}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{108,112}}</string>
<key>sourceSize</key>
<string>{108,112}</string>
</dict>
<key>chip3.png</key>
<dict>
<key>frame</key>
<string>{{1508,143},{108,112}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{108,112}}</string>
<key>sourceSize</key>
<string>{108,112}</string>
</dict>
<key>chip4.png</key>
<dict>
<key>frame</key>
<string>{{1399,143},{108,112}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{108,112}}</string>
<key>sourceSize</key>
<string>{108,112}</string>
</dict>
<key>chip5.png</key>
<dict>
<key>frame</key>
<string>{{1181,143},{108,112}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{108,112}}</string>
<key>sourceSize</key>
<string>{108,112}</string>
</dict>
<key>countdown.png</key>
<dict>
<key>frame</key>
<string>{{1,1},{195,12}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{195,12}}</string>
<key>sourceSize</key>
<string>{195,12}</string>
</dict>
<key>countdown_bottom.png</key>
<dict>
<key>frame</key>
<string>{{197,1},{221,12}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{221,12}}</string>
<key>sourceSize</key>
<string>{221,12}</string>
</dict>
<key>countdown_kj.png</key>
<dict>
<key>frame</key>
<string>{{1001,1},{223,29}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{223,29}}</string>
<key>sourceSize</key>
<string>{223,29}</string>
</dict>
<key>countdown_kongxian.png</key>
<dict>
<key>frame</key>
<string>{{554,1},{224,29}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{224,29}}</string>
<key>sourceSize</key>
<string>{224,29}</string>
</dict>
<key>countdown_xiazhu.png</key>
<dict>
<key>frame</key>
<string>{{779,1},{221,29}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{221,29}}</string>
<key>sourceSize</key>
<string>{221,29}</string>
</dict>
<key>dangqian.png</key>
<dict>
<key>frame</key>
<string>{{1274,1},{350,52}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{350,52}}</string>
<key>sourceSize</key>
<string>{350,52}</string>
</dict>
<key>kaijiang01.png</key>
<dict>
<key>frame</key>
<string>{{1,391},{77,232}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{77,232}}</string>
<key>sourceSize</key>
<string>{77,232}</string>
</dict>
<key>kaijiang02.png</key>
<dict>
<key>frame</key>
<string>{{1677,54},{74,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{74,88}}</string>
<key>sourceSize</key>
<string>{74,88}</string>
</dict>
<key>kaijiang03.png</key>
<dict>
<key>frame</key>
<string>{{381,143},{134,89}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{134,89}}</string>
<key>sourceSize</key>
<string>{134,89}</string>
</dict>
<key>kaijiang04.png</key>
<dict>
<key>frame</key>
<string>{{1297,54},{246,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{246,88}}</string>
<key>sourceSize</key>
<string>{246,88}</string>
</dict>
<key>kaijiang05.png</key>
<dict>
<key>frame</key>
<string>{{1544,54},{132,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{132,88}}</string>
<key>sourceSize</key>
<string>{132,88}</string>
</dict>
<key>kaijiang06.png</key>
<dict>
<key>frame</key>
<string>{{1222,54},{74,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{74,88}}</string>
<key>sourceSize</key>
<string>{74,88}</string>
</dict>
<key>kaijiang07.png</key>
<dict>
<key>frame</key>
<string>{{1147,54},{74,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{74,88}}</string>
<key>sourceSize</key>
<string>{74,88}</string>
</dict>
<key>more_bg.png</key>
<dict>
<key>frame</key>
<string>{{79,391},{228,234}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{228,234}}</string>
<key>sourceSize</key>
<string>{228,234}</string>
</dict>
<key>more_likai.png</key>
<dict>
<key>frame</key>
<string>{{670,54},{158,54}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{158,54}}</string>
<key>sourceSize</key>
<string>{158,54}</string>
</dict>
<key>more_yinxiao.png</key>
<dict>
<key>frame</key>
<string>{{829,54},{158,54}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{158,54}}</string>
<key>sourceSize</key>
<string>{158,54}</string>
</dict>
<key>more_yinxiao_off.png</key>
<dict>
<key>frame</key>
<string>{{352,54},{158,54}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{158,54}}</string>
<key>sourceSize</key>
<string>{158,54}</string>
</dict>
<key>more_yinyue.png</key>
<dict>
<key>frame</key>
<string>{{988,54},{158,54}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{158,54}}</string>
<key>sourceSize</key>
<string>{158,54}</string>
</dict>
<key>more_yinyue_off.png</key>
<dict>
<key>frame</key>
<string>{{511,54},{158,54}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{158,54}}</string>
<key>sourceSize</key>
<string>{158,54}</string>
</dict>
<key>none.png</key>
<dict>
<key>frame</key>
<string>{{789,143},{98,102}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{98,102}}</string>
<key>sourceSize</key>
<string>{98,102}</string>
</dict>
<key>user_add.png</key>
<dict>
<key>frame</key>
<string>{{1225,1},{48,50}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{48,50}}</string>
<key>sourceSize</key>
<string>{48,50}</string>
</dict>
<key>user_bg.png</key>
<dict>
<key>frame</key>
<string>{{888,143},{292,108}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{292,108}}</string>
<key>sourceSize</key>
<string>{292,108}</string>
</dict>
<key>user_bottom.png</key>
<dict>
<key>frame</key>
<string>{{118,256},{1624,134}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{1624,134}}</string>
<key>sourceSize</key>
<string>{1624,134}</string>
</dict>
<key>waiquan.png</key>
<dict>
<key>frame</key>
<string>{{308,391},{272,272}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{272,272}}</string>
<key>sourceSize</key>
<string>{272,272}</string>
</dict>
<key>xuanzhong.png</key>
<dict>
<key>frame</key>
<string>{{1,256},{116,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{116,120}}</string>
<key>sourceSize</key>
<string>{116,120}</string>
</dict>
<key>yingqu.png</key>
<dict>
<key>frame</key>
<string>{{1,54},{350,52}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{350,52}}</string>
<key>sourceSize</key>
<string>{350,52}</string>
</dict>
<key>zhuanpan.png</key>
<dict>
<key>frame</key>
<string>{{581,391},{450,450}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{450,450}}</string>
<key>sourceSize</key>
<string>{450,450}</string>
</dict>
<key>zhuanpan1.png</key>
<dict>
<key>frame</key>
<string>{{1032,391},{450,450}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{450,450}}</string>
<key>sourceSize</key>
<string>{450,450}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>eluosi_game.png</string>
<key>size</key>
<string>{1752,842}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>eluosi_game.png</string>
</dict>
</dict>
</plist>