<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>180VIP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,80}</string>
                <key>spriteSourceSize</key>
                <string>{122,80}</string>
                <key>textureRect</key>
                <string>{{236,0},{122,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30VIP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,80}</string>
                <key>spriteSourceSize</key>
                <string>{122,80}</string>
                <key>textureRect</key>
                <string>{{358,0},{122,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>365VIP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,80}</string>
                <key>spriteSourceSize</key>
                <string>{122,80}</string>
                <key>textureRect</key>
                <string>{{0,80},{122,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3VIP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,80}</string>
                <key>spriteSourceSize</key>
                <string>{122,80}</string>
                <key>textureRect</key>
                <string>{{122,80},{122,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7VIP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,80}</string>
                <key>spriteSourceSize</key>
                <string>{122,80}</string>
                <key>textureRect</key>
                <string>{{244,80},{122,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90VIP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,80}</string>
                <key>spriteSourceSize</key>
                <string>{122,80}</string>
                <key>textureRect</key>
                <string>{{366,80},{122,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aomiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{120,640},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianfanbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,840},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goumaihuiyuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,54}</string>
                <key>spriteSourceSize</key>
                <string>{147,54}</string>
                <key>textureRect</key>
                <string>{{89,0},{147,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{106,160},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{226,160},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{346,160},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{0,280},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{120,280},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{240,280},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{360,280},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{0,400},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jipaiqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{200,840},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manghe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,1040},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money_reward_vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{0,160},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pay-vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,128}</string>
                <key>spriteSourceSize</key>
                <string>{512,128}</string>
                <key>textureRect</key>
                <string>{{0,1522},{512,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shiyongyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{200,1040},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vipICon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,73}</string>
                <key>spriteSourceSize</key>
                <string>{89,73}</string>
                <key>textureRect</key>
                <string>{{0,0},{89,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,282}</string>
                <key>spriteSourceSize</key>
                <string>{300,282}</string>
                <key>textureRect</key>
                <string>{{200,1240},{300,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yashua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,1240},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zs1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{120,400},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zs2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{240,400},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zs3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{360,400},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zs4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{0,520},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zs5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{120,520},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zs6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{240,520},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zs7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{360,520},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zs8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{0,640},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jinbizuanshi.png</string>
            <key>size</key>
            <string>{512,1650}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1321d93a8a514aa1c7ea69c8ae6aecb5:e6b8bcc5392685bcaf52436ff99556d9:1eaf6cdba891414348404fd7eabdf41c$</string>
            <key>textureFileName</key>
            <string>jinbizuanshi.png</string>
        </dict>
    </dict>
</plist>
