<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>game-car-gui-btn_close2.png</key>
<dict>
<key>frame</key>
<string>{{1081,483},{100,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{100,51}}</string>
<key>sourceSize</key>
<string>{100,51}</string>
</dict>
<key>game-car-gui-car-0.png</key>
<dict>
<key>frame</key>
<string>{{1672,386},{80,80}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,80}}</string>
<key>sourceSize</key>
<string>{80,80}</string>
</dict>
<key>game-car-gui-car-0-1.png</key>
<dict>
<key>frame</key>
<string>{{1527,445},{80,80}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,80}}</string>
<key>sourceSize</key>
<string>{80,80}</string>
</dict>
<key>game-car-gui-car-0-23.png</key>
<dict>
<key>frame</key>
<string>{{1869,282},{62,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{62,62}}</string>
<key>sourceSize</key>
<string>{62,62}</string>
</dict>
<key>game-car-gui-car-0-4.png</key>
<dict>
<key>frame</key>
<string>{{1869,346},{62,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{62,62}}</string>
<key>sourceSize</key>
<string>{62,62}</string>
</dict>
<key>game-car-gui-car-1.png</key>
<dict>
<key>frame</key>
<string>{{1297,494},{80,80}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,80}}</string>
<key>sourceSize</key>
<string>{80,80}</string>
</dict>
<key>game-car-gui-car-1-1.png</key>
<dict>
<key>frame</key>
<string>{{1754,456},{80,80}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,80}}</string>
<key>sourceSize</key>
<string>{80,80}</string>
</dict>
<key>game-car-gui-car-1-23.png</key>
<dict>
<key>frame</key>
<string>{{1835,579},{62,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{62,62}}</string>
<key>sourceSize</key>
<string>{62,62}</string>
</dict>
<key>game-car-gui-car-1-4.png</key>
<dict>
<key>frame</key>
<string>{{1750,620},{62,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{62,62}}</string>
<key>sourceSize</key>
<string>{62,62}</string>
</dict>
<key>game-car-gui-car-2.png</key>
<dict>
<key>frame</key>
<string>{{1671,468},{80,80}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,80}}</string>
<key>sourceSize</key>
<string>{80,80}</string>
</dict>
<key>game-car-gui-car-2-1.png</key>
<dict>
<key>frame</key>
<string>{{1518,527},{80,80}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,80}}</string>
<key>sourceSize</key>
<string>{80,80}</string>
</dict>
<key>game-car-gui-car-2-23.png</key>
<dict>
<key>frame</key>
<string>{{1665,631},{62,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{62,62}}</string>
<key>sourceSize</key>
<string>{62,62}</string>
</dict>
<key>game-car-gui-car-2-4.png</key>
<dict>
<key>frame</key>
<string>{{1582,665},{62,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{62,62}}</string>
<key>sourceSize</key>
<string>{62,62}</string>
</dict>
<key>game-car-gui-car-3.png</key>
<dict>
<key>frame</key>
<string>{{1836,497},{80,80}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,80}}</string>
<key>sourceSize</key>
<string>{80,80}</string>
</dict>
<key>game-car-gui-car-3-1.png</key>
<dict>
<key>frame</key>
<string>{{1753,538},{80,80}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,80}}</string>
<key>sourceSize</key>
<string>{80,80}</string>
</dict>
<key>game-car-gui-car-3-23.png</key>
<dict>
<key>frame</key>
<string>{{1349,629},{62,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{62,62}}</string>
<key>sourceSize</key>
<string>{62,62}</string>
</dict>
<key>game-car-gui-car-3-4.png</key>
<dict>
<key>frame</key>
<string>{{1413,632},{62,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{62,62}}</string>
<key>sourceSize</key>
<string>{62,62}</string>
</dict>
<key>game-car-gui-car-big-bg-light.png</key>
<dict>
<key>frame</key>
<string>{{1801,66},{106,106}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{106,106}}</string>
<key>sourceSize</key>
<string>{106,106}</string>
</dict>
<key>game-car-gui-car-history-new1.png</key>
<dict>
<key>frame</key>
<string>{{1268,513},{26,29}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{26,29}}</string>
<key>sourceSize</key>
<string>{26,29}</string>
</dict>
<key>game-car-gui-car-history-new2.png</key>
<dict>
<key>frame</key>
<string>{{1539,272},{88,89}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{88,89}}</string>
<key>sourceSize</key>
<string>{88,89}</string>
</dict>
<key>game-car-gui-car-min-bg-light.png</key>
<dict>
<key>frame</key>
<string>{{1801,174},{106,106}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{106,106}}</string>
<key>sourceSize</key>
<string>{106,106}</string>
</dict>
<key>game-car-gui-chip_bg.png</key>
<dict>
<key>frame</key>
<string>{{1,905},{1059,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{1059,55}}</string>
<key>sourceSize</key>
<string>{1059,55}</string>
</dict>
<key>game-car-gui-fqzs_btn_add.png</key>
<dict>
<key>frame</key>
<string>{{1609,483},{48,50}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{48,50}}</string>
<key>sourceSize</key>
<string>{48,50}</string>
</dict>
<key>game-car-gui-fqzs_btn_bank.png</key>
<dict>
<key>frame</key>
<string>{{850,341},{207,79}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{207,79}}</string>
<key>sourceSize</key>
<string>{207,79}</string>
</dict>
<key>game-car-gui-fqzs_btn_guize.png</key>
<dict>
<key>frame</key>
<string>{{1055,218},{207,79}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{207,79}}</string>
<key>sourceSize</key>
<string>{207,79}</string>
</dict>
<key>game-car-gui-fqzs_btn_qingkong.png</key>
<dict>
<key>frame</key>
<string>{{939,422},{140,123}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{140,123}}</string>
<key>sourceSize</key>
<string>{140,123}</string>
</dict>
<key>game-car-gui-fqzs_btn_return.png</key>
<dict>
<key>frame</key>
<string>{{1784,282},{83,85}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{83,85}}</string>
<key>sourceSize</key>
<string>{83,85}</string>
</dict>
<key>game-car-gui-fqzs_btn_shang.png</key>
<dict>
<key>frame</key>
<string>{{1673,299},{83,85}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{83,85}}</string>
<key>sourceSize</key>
<string>{83,85}</string>
</dict>
<key>game-car-gui-fqzs_btn_shangzhuang.png</key>
<dict>
<key>frame</key>
<string>{{1163,572},{95,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{95,51}}</string>
<key>sourceSize</key>
<string>{95,51}</string>
</dict>
<key>game-car-gui-fqzs_btn_xia.png</key>
<dict>
<key>frame</key>
<string>{{1758,369},{83,85}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{83,85}}</string>
<key>sourceSize</key>
<string>{83,85}</string>
</dict>
<key>game-car-gui-fqzs_btn_xiazhuang.png</key>
<dict>
<key>frame</key>
<string>{{1918,567},{97,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{97,51}}</string>
<key>sourceSize</key>
<string>{97,51}</string>
</dict>
<key>game-car-gui-fqzs_btn_xutou.png</key>
<dict>
<key>frame</key>
<string>{{1458,82},{140,123}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{140,123}}</string>
<key>sourceSize</key>
<string>{140,123}</string>
</dict>
<key>game-car-gui-fqzs_btn_yinhang.png</key>
<dict>
<key>frame</key>
<string>{{1674,198},{108,99}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{108,99}}</string>
<key>sourceSize</key>
<string>{108,99}</string>
</dict>
<key>game-car-gui-fqzs_btn_yinxiao.png</key>
<dict>
<key>frame</key>
<string>{{1249,111},{207,79}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{207,79}}</string>
<key>sourceSize</key>
<string>{207,79}</string>
</dict>
<key>game-car-gui-fqzs_btn_yinxiaoguan.png</key>
<dict>
<key>frame</key>
<string>{{1299,1},{207,79}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{207,79}}</string>
<key>sourceSize</key>
<string>{207,79}</string>
</dict>
<key>game-car-gui-fqzs_btn_yinyue.png</key>
<dict>
<key>frame</key>
<string>{{1059,337},{207,79}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{207,79}}</string>
<key>sourceSize</key>
<string>{207,79}</string>
</dict>
<key>game-car-gui-fqzs_btn_yinyueguan.png</key>
<dict>
<key>frame</key>
<string>{{1264,218},{207,79}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{207,79}}</string>
<key>sourceSize</key>
<string>{207,79}</string>
</dict>
<key>game-car-gui-fqzs_btn_youxiguize1.png</key>
<dict>
<key>frame</key>
<string>{{1843,410},{83,85}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{83,85}}</string>
<key>sourceSize</key>
<string>{83,85}</string>
</dict>
<key>game-car-gui-fqzs_jinbikuang.png</key>
<dict>
<key>frame</key>
<string>{{541,962},{178,35}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{178,35}}</string>
<key>sourceSize</key>
<string>{178,35}</string>
</dict>
<key>game-car-gui-fqzs_qtwj.png</key>
<dict>
<key>frame</key>
<string>{{1183,483},{83,87}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{83,87}}</string>
<key>sourceSize</key>
<string>{83,87}</string>
</dict>
<key>game-car-gui-fqzs_ytm.png</key>
<dict>
<key>frame</key>
<string>{{1391,402},{75,79}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{75,79}}</string>
<key>sourceSize</key>
<string>{75,79}</string>
</dict>
<key>game-car-gui-fqzs_zhuangdi.png</key>
<dict>
<key>frame</key>
<string>{{361,962},{178,51}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{178,51}}</string>
<key>sourceSize</key>
<string>{178,51}</string>
</dict>
<key>game-car-gui-fqzs_zxz.png</key>
<dict>
<key>frame</key>
<string>{{1460,299},{77,31}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{77,31}}</string>
<key>sourceSize</key>
<string>{77,31}</string>
</dict>
<key>game-car-gui-gui-count-down.png</key>
<dict>
<key>frame</key>
<string>{{1477,690},{69,50}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{69,50}}</string>
<key>sourceSize</key>
<string>{69,50}</string>
</dict>
<key>game-car-gui-gui-niuniu-gold-icon.png</key>
<dict>
<key>frame</key>
<string>{{1268,483},{27,28}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{27,28}}</string>
<key>sourceSize</key>
<string>{27,28}</string>
</dict>
<key>game-car-gui-gui-niuniu-icon-bg.png</key>
<dict>
<key>frame</key>
<string>{{1302,402},{87,90}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{87,90}}</string>
<key>sourceSize</key>
<string>{87,90}</string>
</dict>
<key>game-car-gui-gui-niuniu-info-line.png</key>
<dict>
<key>frame</key>
<string>{{361,1015},{309,2}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{309,2}}</string>
<key>sourceSize</key>
<string>{309,2}</string>
</dict>
<key>game-car-gui-gui-niuniu-other-info-bg.png</key>
<dict>
<key>frame</key>
<string>{{1,1},{344,449}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{344,449}}</string>
<key>sourceSize</key>
<string>{344,449}</string>
</dict>
<key>game-car-gui-gui-niuniu-scroll-bg.png</key>
<dict>
<key>frame</key>
<string>{{541,999},{345,9}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{345,9}}</string>
<key>sourceSize</key>
<string>{345,9}</string>
</dict>
<key>game-car-gui-gui-niuniu-scroll-icon.png</key>
<dict>
<key>frame</key>
<string>{{1301,299},{84,32}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{84,32}}</string>
<key>sourceSize</key>
<string>{84,32}</string>
</dict>
<key>game-car-gui-gui-niuniu-user-icon.png</key>
<dict>
<key>frame</key>
<string>{{1379,549},{77,78}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{77,78}}</string>
<key>sourceSize</key>
<string>{77,78}</string>
</dict>
<key>game-car-gui-gui-status-awad.png</key>
<dict>
<key>frame</key>
<string>{{888,996},{69,16}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{69,16}}</string>
<key>sourceSize</key>
<string>{69,16}</string>
</dict>
<key>game-car-gui-gui-status-bet.png</key>
<dict>
<key>frame</key>
<string>{{959,996},{69,16}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{69,16}}</string>
<key>sourceSize</key>
<string>{69,16}</string>
</dict>
<key>game-car-gui-gui-texture-null.png</key>
<dict>
<key>frame</key>
<string>{{361,1019},{1,1}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{1,1}}</string>
<key>sourceSize</key>
<string>{1,1}</string>
</dict>
<key>game-car-gui-gui-wz-1.png</key>
<dict>
<key>frame</key>
<string>{{1814,643},{188,63}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{188,63}}</string>
<key>sourceSize</key>
<string>{188,63}</string>
</dict>
<key>game-car-gui-gui-wz-10.png</key>
<dict>
<key>frame</key>
<string>{{1081,418},{219,63}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{219,63}}</string>
<key>sourceSize</key>
<string>{219,63}</string>
</dict>
<key>game-car-gui-gui-wz-2.png</key>
<dict>
<key>frame</key>
<string>{{1268,337},{199,63}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{199,63}}</string>
<key>sourceSize</key>
<string>{199,63}</string>
</dict>
<key>game-car-gui-gui-wz-3.png</key>
<dict>
<key>frame</key>
<string>{{1473,207},{199,63}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{199,63}}</string>
<key>sourceSize</key>
<string>{199,63}</string>
</dict>
<key>game-car-gui-gui-wz-4.png</key>
<dict>
<key>frame</key>
<string>{{1600,68},{199,63}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{199,63}}</string>
<key>sourceSize</key>
<string>{199,63}</string>
</dict>
<key>game-car-gui-gui-wz-5.png</key>
<dict>
<key>frame</key>
<string>{{1732,1},{199,63}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{199,63}}</string>
<key>sourceSize</key>
<string>{199,63}</string>
</dict>
<key>game-car-gui-gui-wz-6.png</key>
<dict>
<key>frame</key>
<string>{{1600,133},{199,63}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{199,63}}</string>
<key>sourceSize</key>
<string>{199,63}</string>
</dict>
<key>game-car-gui-gui-wz-7.png</key>
<dict>
<key>frame</key>
<string>{{1140,662},{197,63}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{197,63}}</string>
<key>sourceSize</key>
<string>{197,63}</string>
</dict>
<key>game-car-gui-gui-wz-8.png</key>
<dict>
<key>frame</key>
<string>{{939,690},{199,63}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{199,63}}</string>
<key>sourceSize</key>
<string>{199,63}</string>
</dict>
<key>game-car-gui-gui-wz-9.png</key>
<dict>
<key>frame</key>
<string>{{939,614},{199,63}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{199,63}}</string>
<key>sourceSize</key>
<string>{199,63}</string>
</dict>
<key>game-car-gui-gui-wz-ts-bj.png</key>
<dict>
<key>frame</key>
<string>{{1,800},{686,103}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{686,103}}</string>
<key>sourceSize</key>
<string>{686,103}</string>
</dict>
<key>game-car-gui-gui-wz-wanj.png</key>
<dict>
<key>frame</key>
<string>{{1508,1},{222,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{222,65}}</string>
<key>sourceSize</key>
<string>{222,65}</string>
</dict>
<key>game-car-gui-gui-wz-xtong.png</key>
<dict>
<key>frame</key>
<string>{{939,547},{222,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{222,65}}</string>
<key>sourceSize</key>
<string>{222,65}</string>
</dict>
<key>game-car-gui-id.png</key>
<dict>
<key>frame</key>
<string>{{1055,1},{242,108}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{242,108}}</string>
<key>sourceSize</key>
<string>{242,108}</string>
</dict>
<key>game-car-gui-jianjie_normal.png</key>
<dict>
<key>frame</key>
<string>{{971,962},{103,28}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{103,28}}</string>
<key>sourceSize</key>
<string>{103,28}</string>
</dict>
<key>game-car-gui-jianjie_select.png</key>
<dict>
<key>frame</key>
<string>{{721,962},{123,33}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,33}}</string>
<key>sourceSize</key>
<string>{123,33}</string>
</dict>
<key>game-car-gui-page_normal.png</key>
<dict>
<key>frame</key>
<string>{{623,341},{225,89}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{225,89}}</string>
<key>sourceSize</key>
<string>{225,89}</string>
</dict>
<key>game-car-gui-page_select.png</key>
<dict>
<key>frame</key>
<string>{{347,341},{274,99}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{274,99}}</string>
<key>sourceSize</key>
<string>{274,99}</string>
</dict>
<key>game-car-gui-recode_bg.png</key>
<dict>
<key>frame</key>
<string>{{1933,1},{109,564}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{109,564}}</string>
<key>sourceSize</key>
<string>{109,564}</string>
</dict>
<key>game-car-gui-tips_light.png</key>
<dict>
<key>frame</key>
<string>{{1249,192},{19,24}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{19,24}}</string>
<key>sourceSize</key>
<string>{19,24}</string>
</dict>
<key>game-car-gui-title_guize.png</key>
<dict>
<key>frame</key>
<string>{{1260,576},{87,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{87,55}}</string>
<key>sourceSize</key>
<string>{87,55}</string>
</dict>
<key>game-car-gui-wanfa_normal.png</key>
<dict>
<key>frame</key>
<string>{{1030,992},{103,28}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{103,28}}</string>
<key>sourceSize</key>
<string>{103,28}</string>
</dict>
<key>game-car-gui-wanfa_select.png</key>
<dict>
<key>frame</key>
<string>{{846,962},{123,32}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,32}}</string>
<key>sourceSize</key>
<string>{123,32}</string>
</dict>
<key>game-car-gui-car-logo-01.png</key>
<dict>
<key>frame</key>
<string>{{1469,332},{60,80}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{60,80}}</string>
<key>sourceSize</key>
<string>{60,80}</string>
</dict>
<key>game-car-gui-car-logo-02.png</key>
<dict>
<key>frame</key>
<string>{{1501,609},{79,79}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{79,79}}</string>
<key>sourceSize</key>
<string>{79,79}</string>
</dict>
<key>game-car-gui-car-logo-03.png</key>
<dict>
<key>frame</key>
<string>{{1667,550},{81,79}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{81,79}}</string>
<key>sourceSize</key>
<string>{81,79}</string>
</dict>
<key>game-car-gui-car-logo-04.png</key>
<dict>
<key>frame</key>
<string>{{1531,363},{81,80}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{81,80}}</string>
<key>sourceSize</key>
<string>{81,80}</string>
</dict>
<key>game-car-gui-car-logo-05.png</key>
<dict>
<key>frame</key>
<string>{{1468,476},{48,64}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{48,64}}</string>
<key>sourceSize</key>
<string>{48,64}</string>
</dict>
<key>game-car-gui-car-logo-06.png</key>
<dict>
<key>frame</key>
<string>{{1600,600},{63,63}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{63,63}}</string>
<key>sourceSize</key>
<string>{63,63}</string>
</dict>
<key>game-car-gui-car-logo-07.png</key>
<dict>
<key>frame</key>
<string>{{1600,535},{65,63}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{65,63}}</string>
<key>sourceSize</key>
<string>{65,63}</string>
</dict>
<key>game-car-gui-car-logo-08.png</key>
<dict>
<key>frame</key>
<string>{{1391,483},{65,64}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{65,64}}</string>
<key>sourceSize</key>
<string>{65,64}</string>
</dict>
<key>game-car-gui-car-number-x10.png</key>
<dict>
<key>frame</key>
<string>{{1387,299},{71,36}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{71,36}}</string>
<key>sourceSize</key>
<string>{71,36}</string>
</dict>
<key>game-car-gui-car-number-x20.png</key>
<dict>
<key>frame</key>
<string>{{1055,299},{80,36}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,36}}</string>
<key>sourceSize</key>
<string>{80,36}</string>
</dict>
<key>game-car-gui-car-number-x30.png</key>
<dict>
<key>frame</key>
<string>{{1137,299},{80,36}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,36}}</string>
<key>sourceSize</key>
<string>{80,36}</string>
</dict>
<key>game-car-gui-car-number-x40.png</key>
<dict>
<key>frame</key>
<string>{{1219,299},{80,36}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,36}}</string>
<key>sourceSize</key>
<string>{80,36}</string>
</dict>
<key>game-car-gui-car-number-x5.png</key>
<dict>
<key>frame</key>
<string>{{1140,625},{50,35}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{50,35}}</string>
<key>sourceSize</key>
<string>{50,35}</string>
</dict>
<key>game-car-gui-car-space01.png</key>
<dict>
<key>frame</key>
<string>{{821,1},{232,168}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{232,168}}</string>
<key>sourceSize</key>
<string>{232,168}</string>
</dict>
<key>game-car-gui-car-space02.png</key>
<dict>
<key>frame</key>
<string>{{585,1},{234,168}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{234,168}}</string>
<key>sourceSize</key>
<string>{234,168}</string>
</dict>
<key>game-car-gui-car-space03.png</key>
<dict>
<key>frame</key>
<string>{{821,171},{232,168}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{232,168}}</string>
<key>sourceSize</key>
<string>{232,168}</string>
</dict>
<key>game-car-gui-car-space04.png</key>
<dict>
<key>frame</key>
<string>{{231,452},{236,168}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{236,168}}</string>
<key>sourceSize</key>
<string>{236,168}</string>
</dict>
<key>game-car-gui-car-space05.png</key>
<dict>
<key>frame</key>
<string>{{585,171},{234,168}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{234,168}}</string>
<key>sourceSize</key>
<string>{234,168}</string>
</dict>
<key>game-car-gui-car-space06.png</key>
<dict>
<key>frame</key>
<string>{{231,622},{236,168}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{236,168}}</string>
<key>sourceSize</key>
<string>{236,168}</string>
</dict>
<key>game-car-gui-space01-glow.png</key>
<dict>
<key>frame</key>
<string>{{705,432},{232,168}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{232,168}}</string>
<key>sourceSize</key>
<string>{232,168}</string>
</dict>
<key>game-car-gui-space02-glow.png</key>
<dict>
<key>frame</key>
<string>{{469,442},{234,168}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{234,168}}</string>
<key>sourceSize</key>
<string>{234,168}</string>
</dict>
<key>game-car-gui-space03-glow.png</key>
<dict>
<key>frame</key>
<string>{{705,602},{232,168}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{232,168}}</string>
<key>sourceSize</key>
<string>{232,168}</string>
</dict>
<key>game-car-gui-space04-glow.png</key>
<dict>
<key>frame</key>
<string>{{347,1},{236,168}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{236,168}}</string>
<key>sourceSize</key>
<string>{236,168}</string>
</dict>
<key>game-car-gui-space05-glow.png</key>
<dict>
<key>frame</key>
<string>{{469,612},{234,168}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{234,168}}</string>
<key>sourceSize</key>
<string>{234,168}</string>
</dict>
<key>game-car-gui-space06-glow.png</key>
<dict>
<key>frame</key>
<string>{{347,171},{236,168}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{236,168}}</string>
<key>sourceSize</key>
<string>{236,168}</string>
</dict>
<key>game-car-gui-gui-bank-logo-gold.png</key>
<dict>
<key>frame</key>
<string>{{1629,272},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>game-car-gui-car-rank-0.png</key>
<dict>
<key>frame</key>
<string>{{1299,82},{35,27}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{35,27}}</string>
<key>sourceSize</key>
<string>{35,27}</string>
</dict>
<key>game-car-gui-car-rank-1.png</key>
<dict>
<key>frame</key>
<string>{{1336,82},{35,27}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{35,27}}</string>
<key>sourceSize</key>
<string>{35,27}</string>
</dict>
<key>game-car-gui-car-rank-2.png</key>
<dict>
<key>frame</key>
<string>{{1373,82},{35,27}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{35,27}}</string>
<key>sourceSize</key>
<string>{35,27}</string>
</dict>
<key>game-car-gui-gui-gm-result-lose.png</key>
<dict>
<key>frame</key>
<string>{{1468,414},{57,60}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{57,60}}</string>
<key>sourceSize</key>
<string>{57,60}</string>
</dict>
<key>game-car-gui-gui-gm-result-nobetting.png</key>
<dict>
<key>frame</key>
<string>{{1,962},{179,61}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{179,61}}</string>
<key>sourceSize</key>
<string>{179,61}</string>
</dict>
<key>game-car-gui-gui-gm-result-noget.png</key>
<dict>
<key>frame</key>
<string>{{182,962},{177,61}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{177,61}}</string>
<key>sourceSize</key>
<string>{177,61}</string>
</dict>
<key>game-car-gui-gui-gm-result-ping.png</key>
<dict>
<key>frame</key>
<string>{{1614,424},{55,57}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{55,57}}</string>
<key>sourceSize</key>
<string>{55,57}</string>
</dict>
<key>game-car-gui-gui-gm-result-win.png</key>
<dict>
<key>frame</key>
<string>{{1614,363},{56,59}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{56,59}}</string>
<key>sourceSize</key>
<string>{56,59}</string>
</dict>
<key>game-car-gui-gui-gm-result-you.png</key>
<dict>
<key>frame</key>
<string>{{1629,318},{41,43}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{41,43}}</string>
<key>sourceSize</key>
<string>{41,43}</string>
</dict>
<key>game-car-gui-gui-gm-xian.png</key>
<dict>
<key>frame</key>
<string>{{1458,542},{41,43}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{41,43}}</string>
<key>sourceSize</key>
<string>{41,43}</string>
</dict>
<key>game-car-gui-gui-gm-zhuang.png</key>
<dict>
<key>frame</key>
<string>{{1458,587},{41,43}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{41,43}}</string>
<key>sourceSize</key>
<string>{41,43}</string>
</dict>
<key>game-car-gui-resultsurebtn.png</key>
<dict>
<key>frame</key>
<string>{{689,782},{342,111}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{342,111}}</string>
<key>sourceSize</key>
<string>{342,111}</string>
</dict>
<key>game-car-gui-weixiazhu.png</key>
<dict>
<key>frame</key>
<string>{{1055,111},{192,105}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{192,105}}</string>
<key>sourceSize</key>
<string>{192,105}</string>
</dict>
<key>game-car-gui-fqzs_caidandi.png</key>
<dict>
<key>frame</key>
<string>{{1,452},{228,346}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{228,346}}</string>
<key>sourceSize</key>
<string>{228,346}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>car.png</string>
<key>size</key>
<string>{2048,1024}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>car.png</string>
</dict>
</dict>
</plist>