<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>game-car-bank-bank_btn_add.png</key>
<dict>
<key>frame</key>
<string>{{840,361},{68,74}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{68,74}}</string>
<key>sourceSize</key>
<string>{68,74}</string>
</dict>
<key>game-car-bank-bank_btn_max.png</key>
<dict>
<key>frame</key>
<string>{{756,155},{163,70}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{163,70}}</string>
<key>sourceSize</key>
<string>{163,70}</string>
</dict>
<key>game-car-bank-bank_btn_reset.png</key>
<dict>
<key>frame</key>
<string>{{756,1},{218,75}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{218,75}}</string>
<key>sourceSize</key>
<string>{218,75}</string>
</dict>
<key>game-car-bank-bank_btn_sure.png</key>
<dict>
<key>frame</key>
<string>{{756,78},{218,75}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{218,75}}</string>
<key>sourceSize</key>
<string>{218,75}</string>
</dict>
<key>game-car-bank-bank_close.png</key>
<dict>
<key>frame</key>
<string>{{756,288},{82,82}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{82,82}}</string>
<key>sourceSize</key>
<string>{82,82}</string>
</dict>
<key>game-car-bank-bank_gold_bg.png</key>
<dict>
<key>frame</key>
<string>{{970,188},{125,47}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{125,47}}</string>
<key>sourceSize</key>
<string>{125,47}</string>
</dict>
<key>game-car-bank-bank_icon.png</key>
<dict>
<key>frame</key>
<string>{{958,430},{75,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{75,65}}</string>
<key>sourceSize</key>
<string>{75,65}</string>
</dict>
<key>game-car-bank-bank_kedu.png</key>
<dict>
<key>frame</key>
<string>{{817,405},{13,13}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{13,13}}</string>
<key>sourceSize</key>
<string>{13,13}</string>
</dict>
<key>game-car-bank-bank_kedu_select.png</key>
<dict>
<key>frame</key>
<string>{{817,372},{19,31}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{19,31}}</string>
<key>sourceSize</key>
<string>{19,31}</string>
</dict>
<key>game-car-bank-bank_pwd_bg.png</key>
<dict>
<key>frame</key>
<string>{{756,227},{152,59}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{152,59}}</string>
<key>sourceSize</key>
<string>{152,59}</string>
</dict>
<key>game-car-bank-bank_pwd_txt.png</key>
<dict>
<key>frame</key>
<string>{{915,333},{112,41}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{112,41}}</string>
<key>sourceSize</key>
<string>{112,41}</string>
</dict>
<key>game-car-bank-bank_slider.png</key>
<dict>
<key>frame</key>
<string>{{728,1},{719,26}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{719,26}}</string>
<key>sourceSize</key>
<string>{719,26}</string>
</dict>
<key>game-car-bank-bank_slider_bg.png</key>
<dict>
<key>frame</key>
<string>{{1,1},{725,30}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{725,30}}</string>
<key>sourceSize</key>
<string>{725,30}</string>
</dict>
<key>game-car-bank-bank_slider_btn.png</key>
<dict>
<key>frame</key>
<string>{{840,288},{71,73}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{71,73}}</string>
<key>sourceSize</key>
<string>{71,73}</string>
</dict>
<key>game-car-bank-bank_take.png</key>
<dict>
<key>frame</key>
<string>{{970,315},{113,41}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{113,41}}</string>
<key>sourceSize</key>
<string>{113,41}</string>
</dict>
<key>game-car-bank-bank_title.png</key>
<dict>
<key>frame</key>
<string>{{921,155},{176,47}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{176,47}}</string>
<key>sourceSize</key>
<string>{176,47}</string>
</dict>
<key>game-car-bank-gold_icon.png</key>
<dict>
<key>frame</key>
<string>{{756,372},{59,59}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{59,59}}</string>
<key>sourceSize</key>
<string>{59,59}</string>
</dict>
<key>game-car-bank-rule_title.png</key>
<dict>
<key>frame</key>
<string>{{976,1},{185,47}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{185,47}}</string>
<key>sourceSize</key>
<string>{185,47}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>game-bank.png</string>
<key>size</key>
<string>{1024,1024}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>game-bank.png</string>
</dict>
</dict>
</plist>