<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>SY_+.png</key>
<dict>
<key>frame</key>
<string>{{132,0},{40,45}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{40,45}}</string>
<key>sourceSize</key>
<string>{40,45}</string>
</dict>
<key>SY_beibao.png</key>
<dict>
<key>frame</key>
<string>{{361,66},{225,73}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{225,73}}</string>
<key>sourceSize</key>
<string>{225,73}</string>
</dict>
<key>SY_changjing.png</key>
<dict>
<key>frame</key>
<string>{{665,544},{1334,750}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{1334,750}}</string>
<key>sourceSize</key>
<string>{1334,750}</string>
</dict>
<key>SY_gonggao.png</key>
<dict>
<key>frame</key>
<string>{{726,0},{50,47}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{50,47}}</string>
<key>sourceSize</key>
<string>{50,47}</string>
</dict>
<key>SY_gonggao_beijing.png</key>
<dict>
<key>frame</key>
<string>{{823,0},{711,52}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{711,52}}</string>
<key>sourceSize</key>
<string>{711,52}</string>
</dict>
<key>SY_haoyou.png</key>
<dict>
<key>frame</key>
<string>{{1733,0},{182,66}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{182,66}}</string>
<key>sourceSize</key>
<string>{182,66}</string>
</dict>
<key>SY_id_beijing.png</key>
<dict>
<key>frame</key>
<string>{{586,66},{218,77}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{218,77}}</string>
<key>sourceSize</key>
<string>{218,77}</string>
</dict>
<key>SY_jinbi.png</key>
<dict>
<key>frame</key>
<string>{{776,0},{47,50}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{47,50}}</string>
<key>sourceSize</key>
<string>{47,50}</string>
</dict>
<key>SY_majiang.png</key>
<dict>
<key>frame</key>
<string>{{1334,184},{335,360}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{335,360}}</string>
<key>sourceSize</key>
<string>{335,360}</string>
</dict>
<key>SY_paihangbang.png</key>
<dict>
<key>frame</key>
<string>{{1534,0},{199,64}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{199,64}}</string>
<key>sourceSize</key>
<string>{199,64}</string>
</dict>
<key>SY_puke.png</key>
<dict>
<key>frame</key>
<string>{{0,544},{335,360}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{335,360}}</string>
<key>sourceSize</key>
<string>{335,360}</string>
</dict>
<key>SY_qiandao.png</key>
<dict>
<key>frame</key>
<string>{{0,66},{184,66}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{184,66}}</string>
<key>sourceSize</key>
<string>{184,66}</string>
</dict>
<key>SY_renwu.png</key>
<dict>
<key>frame</key>
<string>{{335,544},{330,580}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{330,580}}</string>
<key>sourceSize</key>
<string>{330,580}</string>
</dict>
<key>SY_shangcheng.png</key>
<dict>
<key>frame</key>
<string>{{1272,66},{166,118}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{166,118}}</string>
<key>sourceSize</key>
<string>{166,118}</string>
</dict>
<key>SY_shezhi.png</key>
<dict>
<key>frame</key>
<string>{{184,66},{177,68}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{177,68}}</string>
<key>sourceSize</key>
<string>{177,68}</string>
</dict>
<key>SY_touxiangkuang_1.png</key>
<dict>
<key>frame</key>
<string>{{1088,66},{84,84}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{84,84}}</string>
<key>sourceSize</key>
<string>{84,84}</string>
</dict>
<key>SY_touxiangkuang_2.png</key>
<dict>
<key>frame</key>
<string>{{1008,66},{80,80}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,80}}</string>
<key>sourceSize</key>
<string>{80,80}</string>
</dict>
<key>SY_wpl_beijing.png</key>
<dict>
<key>frame</key>
<string>{{172,0},{196,45}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{196,45}}</string>
<key>sourceSize</key>
<string>{196,45}</string>
</dict>
<key>SY_xiangmulan_beijing.png</key>
<dict>
<key>frame</key>
<string>{{0,184},{1334,125}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{1334,125}}</string>
<key>sourceSize</key>
<string>{1334,125}</string>
</dict>
<key>SY_zuanshi.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{44,37}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{44,37}}</string>
<key>sourceSize</key>
<string>{44,37}</string>
</dict>
<key>bangdinghaoyou.png</key>
<dict>
<key>frame</key>
<string>{{368,0},{163,45}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{163,45}}</string>
<key>sourceSize</key>
<string>{163,45}</string>
</dict>
<key>gerenxunxi.png</key>
<dict>
<key>frame</key>
<string>{{531,0},{195,46}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{195,46}}</string>
<key>sourceSize</key>
<string>{195,46}</string>
</dict>
<key>lingqujiangli.png</key>
<dict>
<key>frame</key>
<string>{{804,66},{204,78}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{204,78}}</string>
<key>sourceSize</key>
<string>{204,78}</string>
</dict>
<key>qiandao.png</key>
<dict>
<key>frame</key>
<string>{{44,0},{88,40}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{88,40}}</string>
<key>sourceSize</key>
<string>{88,40}</string>
</dict>
<key>tibi.png</key>
<dict>
<key>frame</key>
<string>{{1172,66},{100,100}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{100,100}}</string>
<key>sourceSize</key>
<string>{100,100}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>hall.png</string>
<key>size</key>
<string>{1999,1294}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>hall.png</string>
</dict>
</dict>
</plist>