<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>alarm.png</key>
<dict>
<key>frame</key>
<string>{{203,319},{94,90}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{94,90}}</string>
<key>sourceSize</key>
<string>{94,90}</string>
</dict>
<key>btn_cancel.png</key>
<dict>
<key>frame</key>
<string>{{322,236},{162,83}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{162,83}}</string>
<key>sourceSize</key>
<string>{162,83}</string>
</dict>
<key>btn_chehui.png</key>
<dict>
<key>frame</key>
<string>{{0,154},{113,56}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{113,56}}</string>
<key>sourceSize</key>
<string>{113,56}</string>
</dict>
<key>btn_queding.png</key>
<dict>
<key>frame</key>
<string>{{158,154},{113,58}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{113,58}}</string>
<key>sourceSize</key>
<string>{113,58}</string>
</dict>
<key>btn_star.png</key>
<dict>
<key>frame</key>
<string>{{160,236},{162,83}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{162,83}}</string>
<key>sourceSize</key>
<string>{162,83}</string>
</dict>
<key>btn_wechat.png</key>
<dict>
<key>frame</key>
<string>{{271,154},{161,81}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{161,81}}</string>
<key>sourceSize</key>
<string>{161,81}</string>
</dict>
<key>game_chip1.png</key>
<dict>
<key>frame</key>
<string>{{297,319},{89,92}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{89,92}}</string>
<key>sourceSize</key>
<string>{89,92}</string>
</dict>
<key>game_chip2.png</key>
<dict>
<key>frame</key>
<string>{{0,411},{89,92}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{89,92}}</string>
<key>sourceSize</key>
<string>{89,92}</string>
</dict>
<key>game_chip3.png</key>
<dict>
<key>frame</key>
<string>{{386,319},{89,92}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{89,92}}</string>
<key>sourceSize</key>
<string>{89,92}</string>
</dict>
<key>game_chip4.png</key>
<dict>
<key>frame</key>
<string>{{89,411},{89,92}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{89,92}}</string>
<key>sourceSize</key>
<string>{89,92}</string>
</dict>
<key>game_countdown_bottom.png</key>
<dict>
<key>frame</key>
<string>{{197,0},{294,46}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{294,46}}</string>
<key>sourceSize</key>
<string>{294,46}</string>
</dict>
<key>game_offline.png</key>
<dict>
<key>frame</key>
<string>{{178,411},{110,110}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{110,110}}</string>
<key>sourceSize</key>
<string>{110,110}</string>
</dict>
<key>game_ok.png</key>
<dict>
<key>frame</key>
<string>{{109,0},{88,41}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{88,41}}</string>
<key>sourceSize</key>
<string>{88,41}</string>
</dict>
<key>game_user_bottom.png</key>
<dict>
<key>frame</key>
<string>{{288,411},{136,179}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{136,179}}</string>
<key>sourceSize</key>
<string>{136,179}</string>
</dict>
<key>game_user_name.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{109,33}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{109,33}}</string>
<key>sourceSize</key>
<string>{109,33}</string>
</dict>
<key>icon_zhuang.png</key>
<dict>
<key>frame</key>
<string>{{113,154},{45,57}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{45,57}}</string>
<key>sourceSize</key>
<string>{45,57}</string>
</dict>
<key>roomNum_bg.png</key>
<dict>
<key>frame</key>
<string>{{0,319},{203,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{203,88}}</string>
<key>sourceSize</key>
<string>{203,88}</string>
</dict>
<key>sg_bet_bottom.png</key>
<dict>
<key>frame</key>
<string>{{0,46},{118,52}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{118,52}}</string>
<key>sourceSize</key>
<string>{118,52}</string>
</dict>
<key>sg_game_likai.png</key>
<dict>
<key>frame</key>
<string>{{0,236},{80,82}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,82}}</string>
<key>sourceSize</key>
<string>{80,82}</string>
</dict>
<key>sg_game_shezhi.png</key>
<dict>
<key>frame</key>
<string>{{80,236},{80,82}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,82}}</string>
<key>sourceSize</key>
<string>{80,82}</string>
</dict>
<key>sg_game_wanfa.png</key>
<dict>
<key>frame</key>
<string>{{432,154},{80,82}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,82}}</string>
<key>sourceSize</key>
<string>{80,82}</string>
</dict>
<key>tips.png</key>
<dict>
<key>frame</key>
<string>{{0,98},{457,56}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{457,56}}</string>
<key>sourceSize</key>
<string>{457,56}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>sg_game.png</string>
<key>size</key>
<string>{512,590}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>sg_game.png</string>
</dict>
</dict>
</plist>