<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_cancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,65}</string>
                <key>spriteSourceSize</key>
                <string>{221,65}</string>
                <key>textureRect</key>
                <string>{{0,0},{221,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_confirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,65}</string>
                <key>spriteSourceSize</key>
                <string>{221,65}</string>
                <key>textureRect</key>
                <string>{{0,65},{221,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prompt_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{0,130},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qlqp_prompt.png</string>
            <key>size</key>
            <string>{221,282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1771302fda2e6867b081b06e2b4f9e4e:ddae5a13374546019d72850e9c54f442:1f00a455149abbddd79b5e7aebdc7519$</string>
            <key>textureFileName</key>
            <string>qlqp_prompt.png</string>
        </dict>
    </dict>
</plist>
