<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login-bg-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,262}</string>
                <key>spriteSourceSize</key>
                <string>{238,262}</string>
                <key>textureRect</key>
                <string>{{0,0},{238,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{659,35}</string>
                <key>spriteSourceSize</key>
                <string>{659,35}</string>
                <key>textureRect</key>
                <string>{{238,0},{659,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress_bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{659,35}</string>
                <key>spriteSourceSize</key>
                <string>{659,35}</string>
                <key>textureRect</key>
                <string>{{0,262},{659,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>update.png</string>
            <key>size</key>
            <string>{897,297}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1825239b74f7ffd2ab3aedd565a0a204:4a2b9c7ab56c3a185011438a8f177df3:8fc4c2dc3553d4fe938e6a50f6f6d7d6$</string>
            <key>textureFileName</key>
            <string>update.png</string>
        </dict>
    </dict>
</plist>
