<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>timg (6)_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,404}</string>
                <key>spriteSourceSize</key>
                <string>{441,404}</string>
                <key>textureRect</key>
                <string>{{0,0},{441,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg (6)_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,404}</string>
                <key>spriteSourceSize</key>
                <string>{441,404}</string>
                <key>textureRect</key>
                <string>{{441,0},{441,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg (6)_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,404}</string>
                <key>spriteSourceSize</key>
                <string>{441,404}</string>
                <key>textureRect</key>
                <string>{{0,404},{441,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg (6)_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,404}</string>
                <key>spriteSourceSize</key>
                <string>{441,404}</string>
                <key>textureRect</key>
                <string>{{441,404},{441,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg (6)_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,404}</string>
                <key>spriteSourceSize</key>
                <string>{441,404}</string>
                <key>textureRect</key>
                <string>{{0,808},{441,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg (6)_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,404}</string>
                <key>spriteSourceSize</key>
                <string>{441,404}</string>
                <key>textureRect</key>
                <string>{{441,808},{441,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg (6)_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,404}</string>
                <key>spriteSourceSize</key>
                <string>{441,404}</string>
                <key>textureRect</key>
                <string>{{0,1212},{441,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg (6)_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,404}</string>
                <key>spriteSourceSize</key>
                <string>{441,404}</string>
                <key>textureRect</key>
                <string>{{441,1212},{441,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timg (6)_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,404}</string>
                <key>spriteSourceSize</key>
                <string>{441,404}</string>
                <key>textureRect</key>
                <string>{{0,1616},{441,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>subiao.png</string>
            <key>size</key>
            <string>{882,2020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52825562c31534f6a3f892ff8e4751dc:eb6a524740f983b935b0b7badeb8b164:b08c1158672ed762c6294aa0adcd5f39$</string>
            <key>textureFileName</key>
            <string>subiao.png</string>
        </dict>
    </dict>
</plist>
