<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,759},{1624,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1624,750}}</string>
                <key>sourceSize</key>
                <string>{1624,750}</string>
            </dict>
            <key>bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,54},{1275,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1275,74}}</string>
                <key>sourceSize</key>
                <string>{1275,74}</string>
            </dict>
            <key>btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>btn_advert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,330},{294,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,429}}</string>
                <key>sourceSize</key>
                <string>{294,429}</string>
            </dict>
            <key>btn_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,330},{377,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,218}}</string>
                <key>sourceSize</key>
                <string>{377,218}</string>
            </dict>
            <key>btn_createRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{198,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,82}}</string>
                <key>sourceSize</key>
                <string>{198,82}</string>
            </dict>
            <key>btn_ddz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,128},{235,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,202}}</string>
                <key>sourceSize</key>
                <string>{235,202}</string>
            </dict>
            <key>btn_fjmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,330},{314,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,429}}</string>
                <key>sourceSize</key>
                <string>{314,429}</string>
            </dict>
            <key>btn_gdy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,128},{235,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,202}}</string>
                <key>sourceSize</key>
                <string>{235,202}</string>
            </dict>
            <key>btn_generalize.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{116,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,46}}</string>
                <key>sourceSize</key>
                <string>{116,46}</string>
            </dict>
            <key>btn_hzmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,330},{235,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,202}}</string>
                <key>sourceSize</key>
                <string>{235,202}</string>
            </dict>
            <key>btn_join.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,128},{143,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,82}}</string>
                <key>sourceSize</key>
                <string>{143,82}</string>
            </dict>
            <key>btn_jrfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,128},{251,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,96}}</string>
                <key>sourceSize</key>
                <string>{251,96}</string>
            </dict>
            <key>btn_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,0},{115,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,46}}</string>
                <key>sourceSize</key>
                <string>{115,46}</string>
            </dict>
            <key>btn_moreGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,330},{158,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,207}}</string>
                <key>sourceSize</key>
                <string>{158,207}</string>
            </dict>
            <key>btn_nn.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,330},{241,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,202}}</string>
                <key>sourceSize</key>
                <string>{241,202}</string>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,0},{117,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,52}}</string>
                <key>sourceSize</key>
                <string>{117,52}</string>
            </dict>
            <key>btn_quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,0},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>btn_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,0},{117,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,52}}</string>
                <key>sourceSize</key>
                <string>{117,52}</string>
            </dict>
            <key>btn_report.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,128},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>btn_service.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,128},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,0},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,0},{115,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,52}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{118,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,46}}</string>
                <key>sourceSize</key>
                <string>{118,46}</string>
            </dict>
            <key>btn_smrz.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,128},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>btn_sss.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,128},{241,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,202}}</string>
                <key>sourceSize</key>
                <string>{241,202}</string>
            </dict>
            <key>btn_statement.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,128},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>icon_avatarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,54},{228,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,72}}</string>
                <key>sourceSize</key>
                <string>{228,72}</string>
            </dict>
            <key>icon_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,0},{226,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,52}}</string>
                <key>sourceSize</key>
                <string>{226,52}</string>
            </dict>
            <key>icon_scroll.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,0},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>icon_scroll_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>scroll_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,0},{577,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,54}}</string>
                <key>sourceSize</key>
                <string>{577,54}</string>
            </dict>
            <key>set_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,54},{186,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,60}}</string>
                <key>sourceSize</key>
                <string>{186,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{1699,1509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf30b07962c846ea30189144df89b09d:3003a143293f8714354098d16bf17b45:333c9ff079a5b8ddfb0c61408e972979$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
