<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>hall-plist-vip-gui-vip-btn-recharge.png</key>
<dict>
<key>frame</key>
<string>{{1,316},{234,76}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{234,76}}</string>
<key>sourceSize</key>
<string>{234,76}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-arrow.png</key>
<dict>
<key>frame</key>
<string>{{1,394},{240,34}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{240,34}}</string>
<key>sourceSize</key>
<string>{240,34}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-cur-lev.png</key>
<dict>
<key>frame</key>
<string>{{237,316},{119,33}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{119,33}}</string>
<key>sourceSize</key>
<string>{119,33}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-item-bg.png</key>
<dict>
<key>frame</key>
<string>{{498,1},{89,345}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{89,345}}</string>
<key>sourceSize</key>
<string>{89,345}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-level0.png</key>
<dict>
<key>frame</key>
<string>{{1,430},{79,78}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{79,78}}</string>
<key>sourceSize</key>
<string>{79,78}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-level1.png</key>
<dict>
<key>frame</key>
<string>{{82,430},{79,78}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{79,78}}</string>
<key>sourceSize</key>
<string>{79,78}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-level10.png</key>
<dict>
<key>frame</key>
<string>{{163,430},{79,78}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{79,78}}</string>
<key>sourceSize</key>
<string>{79,78}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-level2.png</key>
<dict>
<key>frame</key>
<string>{{244,407},{79,78}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{79,78}}</string>
<key>sourceSize</key>
<string>{79,78}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-level3.png</key>
<dict>
<key>frame</key>
<string>{{325,379},{79,78}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{79,78}}</string>
<key>sourceSize</key>
<string>{79,78}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-level4.png</key>
<dict>
<key>frame</key>
<string>{{406,354},{79,78}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{79,78}}</string>
<key>sourceSize</key>
<string>{79,78}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-level5.png</key>
<dict>
<key>frame</key>
<string>{{487,354},{79,78}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{79,78}}</string>
<key>sourceSize</key>
<string>{79,78}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-level6.png</key>
<dict>
<key>frame</key>
<string>{{568,348},{79,78}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{79,78}}</string>
<key>sourceSize</key>
<string>{79,78}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-level7.png</key>
<dict>
<key>frame</key>
<string>{{649,348},{79,78}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{79,78}}</string>
<key>sourceSize</key>
<string>{79,78}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-level8.png</key>
<dict>
<key>frame</key>
<string>{{698,428},{79,78}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{79,78}}</string>
<key>sourceSize</key>
<string>{79,78}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-level9.png</key>
<dict>
<key>frame</key>
<string>{{680,1},{79,78}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{79,78}}</string>
<key>sourceSize</key>
<string>{79,78}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-select.png</key>
<dict>
<key>frame</key>
<string>{{401,1},{95,351}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{95,351}}</string>
<key>sourceSize</key>
<string>{95,351}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-text0.png</key>
<dict>
<key>frame</key>
<string>{{237,351},{80,26}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,26}}</string>
<key>sourceSize</key>
<string>{80,26}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-text1.png</key>
<dict>
<key>frame</key>
<string>{{243,379},{80,26}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,26}}</string>
<key>sourceSize</key>
<string>{80,26}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-text10.png</key>
<dict>
<key>frame</key>
<string>{{319,351},{80,26}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,26}}</string>
<key>sourceSize</key>
<string>{80,26}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-text2.png</key>
<dict>
<key>frame</key>
<string>{{325,459},{80,26}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,26}}</string>
<key>sourceSize</key>
<string>{80,26}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-text3.png</key>
<dict>
<key>frame</key>
<string>{{407,434},{80,26}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,26}}</string>
<key>sourceSize</key>
<string>{80,26}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-text4.png</key>
<dict>
<key>frame</key>
<string>{{452,462},{80,26}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,26}}</string>
<key>sourceSize</key>
<string>{80,26}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-text5.png</key>
<dict>
<key>frame</key>
<string>{{489,434},{80,26}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,26}}</string>
<key>sourceSize</key>
<string>{80,26}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-text6.png</key>
<dict>
<key>frame</key>
<string>{{534,462},{80,26}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,26}}</string>
<key>sourceSize</key>
<string>{80,26}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-text7.png</key>
<dict>
<key>frame</key>
<string>{{571,428},{80,26}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,26}}</string>
<key>sourceSize</key>
<string>{80,26}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-text8.png</key>
<dict>
<key>frame</key>
<string>{{616,456},{80,26}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,26}}</string>
<key>sourceSize</key>
<string>{80,26}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-text9.png</key>
<dict>
<key>frame</key>
<string>{{616,484},{80,26}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{80,26}}</string>
<key>sourceSize</key>
<string>{80,26}</string>
</dict>
<key>hall-plist-vip-img-vip0.png</key>
<dict>
<key>frame</key>
<string>{{244,487},{50,24}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{50,24}}</string>
<key>sourceSize</key>
<string>{50,24}</string>
</dict>
<key>hall-plist-vip-img-vip1.png</key>
<dict>
<key>frame</key>
<string>{{296,487},{50,24}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{50,24}}</string>
<key>sourceSize</key>
<string>{50,24}</string>
</dict>
<key>hall-plist-vip-img-vip10.png</key>
<dict>
<key>frame</key>
<string>{{348,487},{50,24}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{50,24}}</string>
<key>sourceSize</key>
<string>{50,24}</string>
</dict>
<key>hall-plist-vip-img-vip2.png</key>
<dict>
<key>frame</key>
<string>{{400,487},{50,24}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{50,24}}</string>
<key>sourceSize</key>
<string>{50,24}</string>
</dict>
<key>hall-plist-vip-img-vip3.png</key>
<dict>
<key>frame</key>
<string>{{331,1},{50,24}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{50,24}}</string>
<key>sourceSize</key>
<string>{50,24}</string>
</dict>
<key>hall-plist-vip-img-vip4.png</key>
<dict>
<key>frame</key>
<string>{{331,27},{50,24}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{50,24}}</string>
<key>sourceSize</key>
<string>{50,24}</string>
</dict>
<key>hall-plist-vip-img-vip5.png</key>
<dict>
<key>frame</key>
<string>{{331,53},{50,24}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{50,24}}</string>
<key>sourceSize</key>
<string>{50,24}</string>
</dict>
<key>hall-plist-vip-img-vip6.png</key>
<dict>
<key>frame</key>
<string>{{331,79},{50,24}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{50,24}}</string>
<key>sourceSize</key>
<string>{50,24}</string>
</dict>
<key>hall-plist-vip-img-vip7.png</key>
<dict>
<key>frame</key>
<string>{{331,105},{50,24}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{50,24}}</string>
<key>sourceSize</key>
<string>{50,24}</string>
</dict>
<key>hall-plist-vip-img-vip8.png</key>
<dict>
<key>frame</key>
<string>{{331,131},{50,24}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{50,24}}</string>
<key>sourceSize</key>
<string>{50,24}</string>
</dict>
<key>hall-plist-vip-img-vip9.png</key>
<dict>
<key>frame</key>
<string>{{331,157},{50,24}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{50,24}}</string>
<key>sourceSize</key>
<string>{50,24}</string>
</dict>
<key>hall-plist-vip-gui-vip-img-item-bg-2.png</key>
<dict>
<key>frame</key>
<string>{{589,1},{89,345}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{89,345}}</string>
<key>sourceSize</key>
<string>{89,345}</string>
</dict>
<key>hall-plist-vip-gui-vip-pig.png</key>
<dict>
<key>frame</key>
<string>{{1,1},{328,313}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{328,313}}</string>
<key>sourceSize</key>
<string>{328,313}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>gui-vip.png</string>
<key>size</key>
<string>{1024,512}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:1d64969ef223daae1433007719ef7762$</string>
<key>textureFileName</key>
<string>gui-vip.png</string>
</dict>
</dict>
</plist>