<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IDtouxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,33}</string>
                <key>spriteSourceSize</key>
                <string>{27,33}</string>
                <key>textureRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fasongyotiaoBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,37}</string>
                <key>spriteSourceSize</key>
                <string>{300,37}</string>
                <key>textureRect</key>
                <string>{{27,0},{300,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fjneirongbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,238}</string>
                <key>spriteSourceSize</key>
                <string>{366,238}</string>
                <key>textureRect</key>
                <string>{{0,323},{366,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fujianBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,110}</string>
                <key>spriteSourceSize</key>
                <string>{347,110}</string>
                <key>textureRect</key>
                <string>{{0,213},{347,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huifu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,42}</string>
                <key>spriteSourceSize</key>
                <string>{123,42}</string>
                <key>textureRect</key>
                <string>{{0,37},{123,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>neirong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{367,297}</string>
                <key>spriteSourceSize</key>
                <string>{367,297}</string>
                <key>textureRect</key>
                <string>{{0,561},{367,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weiduyoujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,88}</string>
                <key>spriteSourceSize</key>
                <string>{273,88}</string>
                <key>textureRect</key>
                <string>{{123,37},{273,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yiduyoujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,88}</string>
                <key>spriteSourceSize</key>
                <string>{273,88}</string>
                <key>textureRect</key>
                <string>{{0,125},{273,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3.png</string>
            <key>size</key>
            <string>{396,858}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b671e7671fac726c3597d66dec83a7e:72daf5a6b7034da58f92d291d8866c4d:f4b3fb2dcccdcb0ee302cc6e10a27ade$</string>
            <key>textureFileName</key>
            <string>3.png</string>
        </dict>
    </dict>
</plist>
