<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SY_+.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{711,1958},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SY_bangdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,62}</string>
                <key>spriteSourceSize</key>
                <string>{106,62}</string>
                <key>textureRect</key>
                <string>{{219,1937},{106,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SY_beibao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,62}</string>
                <key>spriteSourceSize</key>
                <string>{106,62}</string>
                <key>textureRect</key>
                <string>{{805,1575},{106,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SY_beijingban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1241,98}</string>
                <key>spriteSourceSize</key>
                <string>{1241,98}</string>
                <key>textureRect</key>
                <string>{{825,1},{1241,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SY_beijingban2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1334,70}</string>
                <key>spriteSourceSize</key>
                <string>{1334,70}</string>
                <key>textureRect</key>
                <string>{{753,1},{1334,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SY_changjing_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1334,750}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,1},{1334,750}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SY_dou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,42}</string>
                <key>textureRect</key>
                <string>{{741,1957},{40,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SY_fenxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,62}</string>
                <key>spriteSourceSize</key>
                <string>{106,62}</string>
                <key>textureRect</key>
                <string>{{761,1718},{106,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SY_gengduo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,126}</string>
                <key>spriteSourceSize</key>
                <string>{159,126}</string>
                <key>textureRect</key>
                <string>{{580,1830},{159,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SY_gonggao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{42,41}</string>
                <key>textureRect</key>
                <string>{{580,1958},{42,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SY_haoyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,62}</string>
                <key>spriteSourceSize</key>
                <string>{107,62}</string>
                <key>textureRect</key>
                <string>{{1,1937},{107,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SY_huangguan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,38}</string>
                <key>spriteSourceSize</key>
                <string>{49,38}</string>
                <key>textureRect</key>
                <string>{{741,1917},{49,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SY_jinbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{792,1917},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SY_kaishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,105}</string>
                <key>spriteSourceSize</key>
                <string>{362,105}</string>
                <key>textureRect</key>
                <string>{{1,1830},{362,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SY_mianfeijinbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,76}</string>
                <key>spriteSourceSize</key>
                <string>{85,76}</string>
                <key>textureRect</key>
                <string>{{741,1830},{85,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SY_qiandao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,109}</string>
                <key>spriteSourceSize</key>
                <string>{115,109}</string>
                <key>textureRect</key>
                <string>{{761,1464},{115,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SY_renwu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,62}</string>
                <key>spriteSourceSize</key>
                <string>{107,62}</string>
                <key>textureRect</key>
                <string>{{110,1937},{107,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SY_shangcheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,125}</string>
                <key>spriteSourceSize</key>
                <string>{124,125}</string>
                <key>textureRect</key>
                <string>{{761,1337},{124,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SY_shezhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{42,41}</string>
                <key>textureRect</key>
                <string>{{624,1958},{42,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SY_shimingrenzheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{668,1958},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SY_tishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{327,1937},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SY_touxiangkuang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{825,1683},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SY_touxiangkuang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,88}</string>
                <key>spriteSourceSize</key>
                <string>{89,88}</string>
                <key>textureRect</key>
                <string>{{825,1244},{89,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SY_tuidaohu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,213}</string>
                <key>spriteSourceSize</key>
                <string>{158,213}</string>
                <key>textureRect</key>
                <string>{{365,1830},{158,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SY_wpl_beijing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,42}</string>
                <key>spriteSourceSize</key>
                <string>{141,42}</string>
                <key>textureRect</key>
                <string>{{761,1575},{141,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SY_xueliu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,491}</string>
                <key>spriteSourceSize</key>
                <string>{379,491}</string>
                <key>textureRect</key>
                <string>{{1,1337},{379,491}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SY_xuezhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,491}</string>
                <key>spriteSourceSize</key>
                <string>{377,491}</string>
                <key>textureRect</key>
                <string>{{382,1337},{377,491}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SY_zuanshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,50}</string>
                <key>spriteSourceSize</key>
                <string>{49,50}</string>
                <key>textureRect</key>
                <string>{{825,1770},{49,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SY_zuji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{876,1770},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hall_SY.png</string>
            <key>size</key>
            <string>{924,2000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebe648fdd3799a6acf5dc4f8d3b4c067:055f99881974f166e81f717568f14a1c:7113d3130137a7f0b7d33695681f3ff4$</string>
            <key>textureFileName</key>
            <string>hall_SY.png</string>
        </dict>
    </dict>
</plist>
