<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beibao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,46}</string>
                <key>spriteSourceSize</key>
                <string>{128,46}</string>
                <key>textureRect</key>
                <string>{{282,0},{128,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beijing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{805,525}</string>
                <key>spriteSourceSize</key>
                <string>{805,525}</string>
                <key>textureRect</key>
                <string>{{0,561},{805,525}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaotilan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,97}</string>
                <key>spriteSourceSize</key>
                <string>{246,97}</string>
                <key>textureRect</key>
                <string>{{322,190},{246,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_fast.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,67}</string>
                <key>spriteSourceSize</key>
                <string>{322,67}</string>
                <key>textureRect</key>
                <string>{{0,123},{322,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ios.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,67}</string>
                <key>spriteSourceSize</key>
                <string>{322,67}</string>
                <key>textureRect</key>
                <string>{{322,123},{322,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_restart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,70}</string>
                <key>spriteSourceSize</key>
                <string>{61,70}</string>
                <key>textureRect</key>
                <string>{{146,0},{61,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_wechat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,67}</string>
                <key>spriteSourceSize</key>
                <string>{322,67}</string>
                <key>textureRect</key>
                <string>{{644,123},{322,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dengruwenzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{885,113}</string>
                <key>spriteSourceSize</key>
                <string>{885,113}</string>
                <key>textureRect</key>
                <string>{{0,448},{885,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>google.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,67}</string>
                <key>spriteSourceSize</key>
                <string>{322,67}</string>
                <key>textureRect</key>
                <string>{{0,190},{322,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logintiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{895,24}</string>
                <key>spriteSourceSize</key>
                <string>{895,24}</string>
                <key>textureRect</key>
                <string>{{0,75},{895,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logintiaobg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{895,24}</string>
                <key>spriteSourceSize</key>
                <string>{895,24}</string>
                <key>textureRect</key>
                <string>{{0,99},{895,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,258}</string>
                <key>spriteSourceSize</key>
                <string>{337,258}</string>
                <key>textureRect</key>
                <string>{{568,190},{337,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paihangbang_X.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{207,0},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shangcheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,40}</string>
                <key>spriteSourceSize</key>
                <string>{65,40}</string>
                <key>textureRect</key>
                <string>{{0,0},{65,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shezhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,44}</string>
                <key>spriteSourceSize</key>
                <string>{81,44}</string>
                <key>textureRect</key>
                <string>{{65,0},{81,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loginlogo.png</string>
            <key>size</key>
            <string>{966,1086}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f6f2e140e8324b1b5dc0f928766f8bf:25368e1b887ec6fb2c7874c040a87540:9c75502b57885cace33ec13db4fc74e2$</string>
            <key>textureFileName</key>
            <string>loginlogo.png</string>
        </dict>
    </dict>
</plist>
