<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuangjiananniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,74}</string>
                <key>spriteSourceSize</key>
                <string>{222,74}</string>
                <key>textureRect</key>
                <string>{{855,0},{222,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cuangjianann.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,65}</string>
                <key>spriteSourceSize</key>
                <string>{216,65}</string>
                <key>textureRect</key>
                <string>{{423,0},{216,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gongyongbeijin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1334,750}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{0,74},{1334,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shiminanniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,65}</string>
                <key>spriteSourceSize</key>
                <string>{216,65}</string>
                <key>textureRect</key>
                <string>{{639,0},{216,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weifajubaozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,38}</string>
                <key>spriteSourceSize</key>
                <string>{141,38}</string>
                <key>textureRect</key>
                <string>{{0,0},{141,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xitongyoujianzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,38}</string>
                <key>spriteSourceSize</key>
                <string>{141,38}</string>
                <key>textureRect</key>
                <string>{{141,0},{141,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youxigonggaozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,38}</string>
                <key>spriteSourceSize</key>
                <string>{141,38}</string>
                <key>textureRect</key>
                <string>{{282,0},{141,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zijiemian.png</string>
            <key>size</key>
            <string>{1334,824}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de90e9cfae2ac5b9380b766bbcfd2c15:132202cd031c321331df5b4b53d132d4:98d6012b7a3f16d2bc6ec8b8190354c5$</string>
            <key>textureFileName</key>
            <string>zijiemian.png</string>
        </dict>
    </dict>
</plist>
