<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerINFO_prop_bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,101}</string>
                <key>spriteSourceSize</key>
                <string>{94,101}</string>
                <key>textureRect</key>
                <string>{{0,164},{94,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerINFO_prop_egg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,78}</string>
                <key>spriteSourceSize</key>
                <string>{62,78}</string>
                <key>textureRect</key>
                <string>{{231,0},{62,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerINFO_prop_kiss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,61}</string>
                <key>spriteSourceSize</key>
                <string>{78,61}</string>
                <key>textureRect</key>
                <string>{{79,0},{78,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerINFO_prop_rose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,56}</string>
                <key>spriteSourceSize</key>
                <string>{79,56}</string>
                <key>textureRect</key>
                <string>{{0,0},{79,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerINFO_prop_tissue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,73}</string>
                <key>spriteSourceSize</key>
                <string>{74,73}</string>
                <key>textureRect</key>
                <string>{{157,0},{74,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerInfo_avatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,161}</string>
                <key>spriteSourceSize</key>
                <string>{160,161}</string>
                <key>textureRect</key>
                <string>{{94,164},{160,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,165}</string>
                <key>spriteSourceSize</key>
                <string>{118,165}</string>
                <key>textureRect</key>
                <string>{{254,164},{118,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,86}</string>
                <key>spriteSourceSize</key>
                <string>{348,86}</string>
                <key>textureRect</key>
                <string>{{0,78},{348,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerInfo.png</string>
            <key>size</key>
            <string>{372,329}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2b670daf0a2ff73271f674c021c9988:ee996d1123129a61f19fe7cf1870f691:5d62e39352418f2a89052d9241cc64e6$</string>
            <key>textureFileName</key>
            <string>playerInfo.png</string>
        </dict>
    </dict>
</plist>
