<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,0},{206,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,90}}</string>
                <key>sourceSize</key>
                <string>{206,90}</string>
            </dict>
            <key>btn_choose_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,0},{206,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,90}}</string>
                <key>sourceSize</key>
                <string>{206,90}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>common_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,591},{1256,724}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1256,724}}</string>
                <key>sourceSize</key>
                <string>{1256,724}</string>
            </dict>
            <key>common_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,0},{759,531}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{759,531}}</string>
                <key>sourceSize</key>
                <string>{759,531}</string>
            </dict>
            <key>common_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,0},{216,591}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,591}}</string>
                <key>sourceSize</key>
                <string>{216,591}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1456,1315}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd2113f6f274822eacf8f879fe59640a:7269e6e3e562d4497daf4ef83a07a4c6:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
