<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vip_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,112}</string>
                <key>spriteSourceSize</key>
                <string>{230,112}</string>
                <key>textureRect</key>
                <string>{{1,1},{230,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,112}</string>
                <key>spriteSourceSize</key>
                <string>{230,112}</string>
                <key>textureRect</key>
                <string>{{233,1},{230,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,112}</string>
                <key>spriteSourceSize</key>
                <string>{230,112}</string>
                <key>textureRect</key>
                <string>{{465,1},{230,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,112}</string>
                <key>spriteSourceSize</key>
                <string>{230,112}</string>
                <key>textureRect</key>
                <string>{{697,1},{230,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,112}</string>
                <key>spriteSourceSize</key>
                <string>{230,112}</string>
                <key>textureRect</key>
                <string>{{929,1},{230,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,112}</string>
                <key>spriteSourceSize</key>
                <string>{230,112}</string>
                <key>textureRect</key>
                <string>{{1161,1},{230,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,112}</string>
                <key>spriteSourceSize</key>
                <string>{230,112}</string>
                <key>textureRect</key>
                <string>{{1393,1},{230,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,112}</string>
                <key>spriteSourceSize</key>
                <string>{230,112}</string>
                <key>textureRect</key>
                <string>{{1625,1},{230,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vip_icon.png</string>
            <key>size</key>
            <string>{1856,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7d9437dc2ce918e905724f7a3535126:34da830097ccb44e07b0783734221e5f:d65752035e3ee250329923962eb3799a$</string>
            <key>textureFileName</key>
            <string>vip_icon.png</string>
        </dict>
    </dict>
</plist>
