<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GY_pz_anniu_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,71}</string>
                <key>spriteSourceSize</key>
                <string>{252,71}</string>
                <key>textureRect</key>
                <string>{{1247,159},{252,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_anniu_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,63}</string>
                <key>spriteSourceSize</key>
                <string>{132,63}</string>
                <key>textureRect</key>
                <string>{{660,95},{132,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_anniu_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{894,35},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_anniu_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{934,35},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_anniu_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,71}</string>
                <key>spriteSourceSize</key>
                <string>{252,71}</string>
                <key>textureRect</key>
                <string>{{1499,159},{252,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_anniu_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,71}</string>
                <key>spriteSourceSize</key>
                <string>{252,71}</string>
                <key>textureRect</key>
                <string>{{1751,159},{252,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_anniu_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,71}</string>
                <key>spriteSourceSize</key>
                <string>{252,71}</string>
                <key>textureRect</key>
                <string>{{0,230},{252,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_beijing_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,114}</string>
                <key>spriteSourceSize</key>
                <string>{273,114}</string>
                <key>textureRect</key>
                <string>{{1670,230},{273,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_beijing_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1558,35},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_beijing_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{642,441}</string>
                <key>spriteSourceSize</key>
                <string>{642,441}</string>
                <key>textureRect</key>
                <string>{{0,625},{642,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_beijing_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,156}</string>
                <key>spriteSourceSize</key>
                <string>{265,156}</string>
                <key>textureRect</key>
                <string>{{950,344},{265,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_beijing_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,132}</string>
                <key>spriteSourceSize</key>
                <string>{52,132}</string>
                <key>textureRect</key>
                <string>{{898,344},{52,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_beijing_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,50}</string>
                <key>spriteSourceSize</key>
                <string>{580,50}</string>
                <key>textureRect</key>
                <string>{{978,35},{580,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_beijing_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,66}</string>
                <key>spriteSourceSize</key>
                <string>{500,66}</string>
                <key>textureRect</key>
                <string>{{747,159},{500,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_beijing_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,20}</string>
                <key>spriteSourceSize</key>
                <string>{86,20}</string>
                <key>textureRect</key>
                <string>{{953,0},{86,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_beijing_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,60}</string>
                <key>spriteSourceSize</key>
                <string>{600,60}</string>
                <key>textureRect</key>
                <string>{{0,95},{600,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_beijing_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{788,457}</string>
                <key>spriteSourceSize</key>
                <string>{788,457}</string>
                <key>textureRect</key>
                <string>{{642,625},{788,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_beijing_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,281}</string>
                <key>spriteSourceSize</key>
                <string>{650,281}</string>
                <key>textureRect</key>
                <string>{{1376,344},{650,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_beijing_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,180}</string>
                <key>spriteSourceSize</key>
                <string>{60,180}</string>
                <key>textureRect</key>
                <string>{{1215,344},{60,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_beijing_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,180}</string>
                <key>spriteSourceSize</key>
                <string>{60,180}</string>
                <key>textureRect</key>
                <string>{{1275,344},{60,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_beijing_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{557,84}</string>
                <key>spriteSourceSize</key>
                <string>{557,84}</string>
                <key>textureRect</key>
                <string>{{771,230},{557,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_beijing_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{600,95},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_duihuakuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,79}</string>
                <key>spriteSourceSize</key>
                <string>{147,79}</string>
                <key>textureRect</key>
                <string>{{330,230},{147,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_duihuakuangyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,79}</string>
                <key>spriteSourceSize</key>
                <string>{147,79}</string>
                <key>textureRect</key>
                <string>{{477,230},{147,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_duihuakuangzuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,79}</string>
                <key>spriteSourceSize</key>
                <string>{147,79}</string>
                <key>textureRect</key>
                <string>{{624,230},{147,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_fengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{411,1}</string>
                <key>spriteSourceSize</key>
                <string>{411,1}</string>
                <key>textureRect</key>
                <string>{{0,0},{411,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_fengexian2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,1}</string>
                <key>spriteSourceSize</key>
                <string>{542,1}</string>
                <key>textureRect</key>
                <string>{{411,0},{542,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_gengduo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1848,95},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_iushui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1912,95},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_liaotian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{0,159},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_shezhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,64}</string>
                <key>spriteSourceSize</key>
                <string>{155,64}</string>
                <key>textureRect</key>
                <string>{{64,159},{155,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_tishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{219,159},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_touxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{252,230},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_touxiang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1328,230},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_tubiao_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{66,344},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_tubiao_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{190,344},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_tubiao_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{314,344},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_tubiao_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{438,344},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_tubiao_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{562,344},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_tubiao_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{686,344},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_tubiao_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{1414,230},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_tuichu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,64}</string>
                <key>spriteSourceSize</key>
                <string>{154,64}</string>
                <key>textureRect</key>
                <string>{{283,159},{154,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_tuoguan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,64}</string>
                <key>spriteSourceSize</key>
                <string>{155,64}</string>
                <key>textureRect</key>
                <string>{{437,159},{155,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wanfa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,64}</string>
                <key>spriteSourceSize</key>
                <string>{155,64}</string>
                <key>textureRect</key>
                <string>{{592,159},{155,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wenzi_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,34}</string>
                <key>spriteSourceSize</key>
                <string>{74,34}</string>
                <key>textureRect</key>
                <string>{{1179,0},{74,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wenzi_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,35}</string>
                <key>spriteSourceSize</key>
                <string>{71,35}</string>
                <key>textureRect</key>
                <string>{{1881,0},{71,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wenzi_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,193}</string>
                <key>spriteSourceSize</key>
                <string>{41,193}</string>
                <key>textureRect</key>
                <string>{{1335,344},{41,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wenzi_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,33}</string>
                <key>spriteSourceSize</key>
                <string>{140,33}</string>
                <key>textureRect</key>
                <string>{{1039,0},{140,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wenzi_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,35}</string>
                <key>spriteSourceSize</key>
                <string>{277,35}</string>
                <key>textureRect</key>
                <string>{{0,35},{277,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wenzi_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,35}</string>
                <key>spriteSourceSize</key>
                <string>{74,35}</string>
                <key>textureRect</key>
                <string>{{277,35},{74,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wenzi_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,35}</string>
                <key>spriteSourceSize</key>
                <string>{71,35}</string>
                <key>textureRect</key>
                <string>{{351,35},{71,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wenzi_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,35}</string>
                <key>spriteSourceSize</key>
                <string>{97,35}</string>
                <key>textureRect</key>
                <string>{{422,35},{97,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wenzi_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,34}</string>
                <key>spriteSourceSize</key>
                <string>{127,34}</string>
                <key>textureRect</key>
                <string>{{1253,0},{127,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wenzi_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,63}</string>
                <key>spriteSourceSize</key>
                <string>{528,63}</string>
                <key>textureRect</key>
                <string>{{792,95},{528,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wenzi_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,63}</string>
                <key>spriteSourceSize</key>
                <string>{528,63}</string>
                <key>textureRect</key>
                <string>{{1320,95},{528,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wenzi_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,39}</string>
                <key>spriteSourceSize</key>
                <string>{251,39}</string>
                <key>textureRect</key>
                <string>{{643,35},{251,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wenzi_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,35}</string>
                <key>spriteSourceSize</key>
                <string>{124,35}</string>
                <key>textureRect</key>
                <string>{{519,35},{124,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wenzi_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,34}</string>
                <key>spriteSourceSize</key>
                <string>{501,34}</string>
                <key>textureRect</key>
                <string>{{1380,0},{501,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wenzi_5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,113}</string>
                <key>spriteSourceSize</key>
                <string>{33,113}</string>
                <key>textureRect</key>
                <string>{{1516,230},{33,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wenzi_5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,113}</string>
                <key>spriteSourceSize</key>
                <string>{33,113}</string>
                <key>textureRect</key>
                <string>{{1549,230},{33,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wenzi_6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,114}</string>
                <key>spriteSourceSize</key>
                <string>{33,114}</string>
                <key>textureRect</key>
                <string>{{1943,230},{33,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wenzi_6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,114}</string>
                <key>spriteSourceSize</key>
                <string>{33,114}</string>
                <key>textureRect</key>
                <string>{{1976,230},{33,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wenzi_7_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,115}</string>
                <key>spriteSourceSize</key>
                <string>{33,115}</string>
                <key>textureRect</key>
                <string>{{0,344},{33,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wenzi_7_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,115}</string>
                <key>spriteSourceSize</key>
                <string>{33,115}</string>
                <key>textureRect</key>
                <string>{{33,344},{33,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wenzi_8_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,130}</string>
                <key>spriteSourceSize</key>
                <string>{44,130}</string>
                <key>textureRect</key>
                <string>{{810,344},{44,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wenzi_8_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,130}</string>
                <key>spriteSourceSize</key>
                <string>{44,130}</string>
                <key>textureRect</key>
                <string>{{854,344},{44,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wenzi_9_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,113}</string>
                <key>spriteSourceSize</key>
                <string>{44,113}</string>
                <key>textureRect</key>
                <string>{{1582,230},{44,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GY_pz_wenzi_9_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,113}</string>
                <key>spriteSourceSize</key>
                <string>{44,113}</string>
                <key>textureRect</key>
                <string>{{1626,230},{44,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ziyouxitu.png</string>
            <key>size</key>
            <string>{2026,1082}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6793b868c9597de89bbaf0b38564400a:0dc87ed3f61fff3f34bb74f1f4723eaa:5aaf71ef3c335709f882ca402e0bdcf8$</string>
            <key>textureFileName</key>
            <string>ziyouxitu.png</string>
        </dict>
    </dict>
</plist>
